{{ $email := promptStringOnce . "email" "Email Address (Git, GPG, etc.)" -}}
{{ $git_name := promptStringOnce . "git_name" "Name to use for git actions" -}}
{{ $git_hooks_path := promptStringOnce . "git_hooks_path" "Custom core Git hooks path" -}}

[data]
    email = {{ $email | quote }}
    git_name = {{ $git_name | quote }}
    git_hooks_path = {{ $git_hooks_path | quote }}
