{{ $email := promptStringOnce . "email" "Email Address (Git, GPG, etc.)" -}}
{{ $gitName := promptStringOnce . "gitName" "Name to use for git actions" -}}
{{ $gitHooksPath := promptStringOnce . "gitHooksPath" "Custom core Git hooks path" -}}
{{ $gui := promptBoolOnce . "gui" "Enable GUI options?" -}}
{{ $defaultPkgType := "brew" -}}
{{ if eq .chezmoi.os "linux" -}}
{{ $defaultPkgType = "apt" -}}
{{ end -}}
{{ $useLinuxBrew := false -}}
{{ if eq .chezmoi.os "linux" -}}
{{ $useLinuxBrew = promptBoolOnce . "useLinuxBrew" "Use LinuxBrew?" -}}
{{ end -}}

[data]
    email = {{ $email | quote }}
    gitName = {{ $gitName | quote }}
    gitHooksPath = {{ $gitHooksPath | quote }}
    gui = {{ $gui }}
    defaultPkgType = {{ $defaultPkgType | quote }}
    useLinuxBrew = {{ $useLinuxBrew }}
    tags = {{ get $ "tags" | default list | toToml -}}
