alias ..="cd .."
alias ...="cd ../.."
alias ll="ls -l"
alias la="ls -la"
alias gcloud-reauth="gcloud auth login && gcloud auth application-default login"
alias git-prune-all="git fetch --all && git remote prune origin && git branch -v | grep -v '^*' | grep '\\[gone\\]' | awk '{print \$1}' | xargs git branch -d"

new-branch() {
    git checkout -b "{{ .gitBranchPrefix }}$1"
}

cdgroot() {
    local dir="$(git rev-parse --show-toplevel)"
    [[ -n "$dir" ]] && cd "$dir"
}
