source {{ joinPath .chezmoi.sourceDir "lib" "common" "functions.sh" | quote }}

add_to_path_always "$HOME/Library/Python/3.9/bin"
add_to_path_always "$HOME/.local/bin"
add_to_path_always "$HOME/go/bin"
