{{ if or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") .useLinuxBrew) -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range $name, $pkg := (includeTemplate "packages.tmpl" $ | fromYaml) -}}
{{ if eq $pkg.type "brew" -}}
brew {{ $pkg.name | quote }}
{{ else if eq $pkg.type "cask" -}}
cask {{ $pkg.name | quote }}
{{ end -}}
{{ end -}}
EOF
{{ end -}}
