name: Update chezmoi-install.sh

on:
  schedule:
    - cron: '0 3 * * 1' # Every Monday at 03:00 UTC
  workflow_dispatch:

jobs:
  update-install-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Run build-install.sh
        run: ci/build-install.sh

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: "Update chezmoi-install.sh"
          title: "Update chezmoi-install.sh"
          body: "Automated update of chezmoi-install.sh via scheduled workflow."
          branch: "update/chezmoi-install-sh"
          base: ${{ github.ref_name }}
          labels: "update"
          reviewers: "linuxdaemon"
          sign-commits: true
